/* Home view */
.page-background {
    margin: 0 20px;
    padding: 10px;
    width: auto;
    min-width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-background .main-image {
    margin: auto;
    width: 100%;
    display: block;
}

.page-background .text-wrapper {
    border: 2px solid white;
    margin: 20px auto;
    font-family: 'Anime Ace', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: white;
    width: 60%;
    padding: 15px;
}

.page-background .text-wrapper div {
    margin-top: 20px;
}

.page-background h1 {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 3px;
    font-family: 'Badaboom', sans-serif;
    color: white;
}

.text-box-wrapper {
    width: 200px;
    margin: 20px auto;
}

.text-box-wrapper a,
.question-wrapper a {
    text-decoration: none;
}

.name-input {
    width: 220px;
    margin: auto;
    font-size: 30px;
    border-style: solid;
    padding: 8px;
    background-color: white;
    font-family: 'Badaboom';
    letter-spacing: 3px;
    text-align: center;
}

.button {
    color: black;
    /*width: 100%;*/
}

.button:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 3px white;
}

/* QUESTIONS */

.question-wrapper {
    color: white;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Anime Ace', sans-serif;
    border: 2px solid white;
    padding: 15px;
}

.question-wrapper h2 {
    font-family: 'Badaboom', sans-serif;
    letter-spacing: 3px;
}

.question-text {
    text-align: center;
    margin: 20px auto;
}

.radio-btn {
    font-family: 'Badaboom', sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    margin: 5px;
}

.radio-btn input {
    vertical-align: middle;
    line-height: 30px;
    margin: 8px;
}

/* Results */

.line {
    border-bottom: 2px solid white;
}

.result {
    height: auto;

}

.result img {
    width: 40px;
    vertical-align: middle;
}

.question-wrapper {
    text-align: left;
    overflow: hidden;
}

.float-this {
    float: left;
    width: 75%;
    padding: 15px;
}

.question-number {
    float: left;
    font-family: 'Badaboom';
    padding-bottom: 100%;
    margin-bottom: -100%;
    width: 20%;
    border-right: 2px solid white;
    text-align: center;

}

.question-number span {
    font-size: 60px;
    vertical-align: middle;
}

.question {
    padding: 10px;
    margin-top: 0;
}

.answer {
    font-family: 'Badaboom';
    font-size: 36px;
    letter-spacing: 3px;
    vertical-align: middle;
}

.correct {
    background-color: rgba(0, 182, 124, 1.0);
}

.incorrect {
    background-color: rgba(255, 0, 0, 1.0);
}

/* Index html */
body {
    background-image: url("../images/super-hero-background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.start-over {
    float: right;
}

@font-face {
    font-family: 'Badaboom';
    src: url('../fonts/badaboom_bb/BADABB__.TTF');
}

@font-face {
    font-family: 'Anime Ace';
    src: url('../fonts/animeace2bb_tt/animeace2_reg.ttf');
}
