<div class="page-background">
    <div class="question-wrapper standard-text">
        <question-widget question-obj="questionVm.questions[questionVm.index]"></question-widget>
        <a ng-show="questionVm.quizInProgress && questionVm.questions[questionVm.index].userAnswer"
            ng-click="questionVm.goToQuestion(questionVm.index + 1)">
            <div class="title-text button">Next Question</div>
        </a>
        <div>
            <a ng-show="!questionVm.quizInProgress && questionVm.questions[questionVm.index].userAnswer"
                ng-click="questionVm.submit()" href="#!/results">
                <div class="title-text button">See the results</div>
            </a>
        </div>
    </div>
</div>
