<ng-form name="questionForm">
    <div>Question: {{ widgetVm.questionObj.index + 1 }}</div>
    <div ng-required>
        <span id="question"></span>
        <input type="radio" ng-model="widgetVm.questionObj.userAnswer" value="1">{{ widgetVm.questionObj.answers[0]}}</input>
        <input type="radio" ng-model="widgetVm.questionObj.userAnswer" value="2">{{ widgetVm.questionObj.answers[1]}}</input>
    </div>

    <strong>current selection {{ widgetVm.questionObj.userAnswer }}</strong>
</ng-form>
