<div style="{ margin: 20px }">
    <div>Question: {{ questionVm.index + 1 }}</div>
    <div>
        {{ questionVm.questionObj.question }}
        <input type="radio" ng-model="questionVm.questionObj.userAnswer" value="1" ng-change="questionVm.setIndex()">{{ questionVm.questionObj.answers[0]}}</input>
        <input type="radio" ng-model="questionVm.questionObj.userAnswer" value="2" ng-change="questionVm.setIndex()">{{ questionVm.questionObj.answers[1]}}</input>
    </div>

    <strong>current selection {{ questionVm.questionObj.userAnswer }}</strong>
</div>
